@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&display=swap');
   *{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    }

    body{
        background: #f1faee;
    }

    .wrapper .sidebar{
        background: #457B9D;
        position: fixed;
        top: 0;
        left: 0;
        width: 225px;
        height: 100%;
        padding: 20px 0;
        transition: all 0.5s ease;
    }

    .wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #457B9D;
    color: #f1faee;
    font-size: 16px;
    position: relative;
    }

    .wrapper .sidebar ul li a .icon{
        color: #f1faee;
        width: 30px;
        display: inline-block;
    }
    .wrapper .sidebar ul li a:hover,
    .wrapper .sidebar ul li a.active{
        color: #f1faee;

        background: #457B9D;
        border-right: 2px solid #457B9D;
    }

    .wrapper .sidebar ul li a:hover .icon,
    .wrapper .sidebar ul li a.active .icon{
        color: #f1faee;
    }

    .wrapper .sidebar ul li a:hover:before,
    .wrapper .sidebar ul li a.active:before{
        display: block;
    }

    .wrapper .section{
        width: calc(100% - 225px);
        margin-left: 225px;
        transition: all 0.5s ease;
    }

    .wrapper .section .top_navbar{
        background: #457B9D;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 30px;

    }

    .wrapper .section .top_navbar .menuButton a{
        font-size: 28px;
        color: #f1faee;
    }

    .wrapper .section .top_navbar .menuButton {
        color: #457B9D;
    }

    body.active .wrapper .sidebar{
        left: -225px;
    }

    body.active .wrapper .section{
        margin-left: 0;
        width: 100%;
    }

    .menu-container{
        width:100%;
        height: 1280px;
        border: none;
        padding-top: 10px;
    }

    .button {
        color: #497B9D;
        padding: 30px 30px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 20px;
        line-height: 20px;
      }

    .button:hover {
        background-color: #A8DADC;
      }

    .button-container {
        width: 100%;
        overflow-y: auto;
    }
    
    .button-container > a {
        width: 100%;
        height: 100px; 
        margin: 15px;
        display: inline-block;
    }

    .action-container {
        float: auto;
        margin-bottom: 5px;
        background: lightgray;  
    }

    .title{
         margin: auto;
         color: #f1faee;
    }